

.all-movies {
  display: flex;
  flex-flow: row wrap;
  gap: 10px
  
}

.bts-movies-managament {
  margin: 10px 0px;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.bts-movies-managament button {
  
  background-color: darkred;

}