.all-tasks {
    width: 100 vw;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    align-items: center;
}

.task {
    display:flex;
    align-items: center;
    width: 50vw;
    justify-content: space-between;
    padding: 0px 5px;

    border: 3px solid grey;
    border-radius: 10px;

}

.task button {
    height: 20px;
}