.movie-card {
    width: 300px
}

.movie-image {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
.movie-image:hover {
    transform: scale(1.25);
}

.movie-delete-btn {
    background-color: red;
}