.movie-carousel {
    width: 300px;
    padding: 5px;
}

.carousel-buttons {
    display: flex;
    justify-content: left;
    
}

.carousel-buttons button {
    width: 80px;
    background-color: darkred;
    margin: 0px 10px 0px 0px;
}
